{/* Create the simplified newsletter form */}
<div class="max-w-4xl mx-auto px-4">
  <form 
    action="https://app.kit.com/forms/7662069/subscriptions" 
    method="post" 
    class="flex flex-col sm:flex-row gap-4"
  >
    <input
      type="email"
      name="email_address"
      placeholder="Email Address"
      required
      class="flex-1 px-4 py-2 rounded-md border border-gray-200 bg-white text-gray-900 focus:outline-none focus:ring-2 focus:ring-black "
    />
    <button
      type="submit"
      class="px-6 py-2 rounded-md bg-black hover:bg-gray-700 text-white font-medium transition-colors duration-200"
    >
      Subscribe
    </button>
  </form>
</div>

<script async src="https://f.convertkit.com/ckjs/ck.5.js"></script> 